*.o
a.out
*.eps
*.pdf
*~
imbibitionEq
configure
config.*
*.log
Makefile
Makefile.in
am
autom4te.cache
build-cmake
compile
depcomp
imbibitionEq.pc
install-sh
libtool
ltmain.sh
missing
src/.deps
stamp-h1
stamp-vc
stamp-regenerate-config-h
test
